<!DOCTYPE html>
<html>
    <head>
        <title>application_submitted</title>
         {% include 'bootstrap.html' %}

    </head>
    <body>
        {% include 'nav.html' %}
        <div class="container"> 
            <h1 class="text-center mb-2">
            <b>samols resume</b>
            </h1>
        </div>

          {% include 'banner.html' %}
         <div class="container my-2">
           
            <p><h4>your application for the role "{{job['title']}}" has been submited</h4></p>
            <b>full name</b>
            <div class="mb-2">{{application['full_name']}}</div>
            <b>email</b>
            <div class="mb-2">{{application['email']}}</div>
            <b>linkdin URL</b> 
            <div class="mb-2">{{application['linkdIn URL']}}</div>
        <div>

    </body>
    {% include 'FOOTER.HTML' %}
</html>  