<!DOCTYPE html>
<html>
    <head>
        <title>application_submitted</title>
         {% include 'bootstrap.html' %}

    </head>
    <body>
         <div class="container">
             {% include 'nav.html' %}
            <h1 class="text-center">
            <b>samols carrier</b>
             {% include 'banner.html' %}
            </h1>
           
            <p><h4>your application for thr role "{{job['title']}}" has been submited</h4></p>
            <b>full name</b>
            <div class="mb-2">{{application['full_name']}}</div>
            <b>email</b>
            <div class="mb-2">{{application['email']}}</div>
            <b>linkdin URL</b> 
            <div class="mb-2">{{application['linkdIn URL']}}</div>
        <div>

    </body>
    {% include 'FOOTER.HTML' %}
</html> 