<!DOCTYPE html>
<html>
    <head>
        <title>
            {{job.title}}-samols carrier
        </title>
        {% include 'nav.html' %}
        {% include 'bootstrap.html' %}
    </head>
    <body>
          {% include 'banner.html'%}
        <div class="container">
            <h1 class="text-center"><b class="border-bottom" >samols carrier</b></h1> 
          
            <h3>{{job.title}}</h3>
            <p>{{job.location}}</p>
            <h3>responsibilities</h3>
            <ul>
                {% for line in job.responsibilities.split('|') %}
                <li>{{line}}</li>
                {% endfor %}
            </ul>
           
            <h3>requirements</h3> 
             <ol>
                {% for line in job.requirements.split('|') %} 
                <li>{{line}}</li>
                {% endfor %}
            </ol>
            <h3>salary</h3>
            <p>{{job.currency}}{{job.salary}}</p>
            <div class="container text-center mt-4 mb-5">
            <a href="/job/{{job['id']}}/apply_form" class="btn btn-primary btn-lg">
                আবেদন করতে এখানে ক্লিক করুন
            </a>
            </div>
            {% include 'FOOTER.HTML' %}
        </div>
       
    </body>
</html>
