<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samols Website</title>
    {% include 'bootstrap.html' %}
</head>

<body>
    {% include 'nav.html' %}

    <div class="container my-2">
         <h1 class="text-center mb-4">
            <b>my profile</b>
        </h1>
    </div>

     {% include 'banner.html' %}

    <div class="container my-4">

        <div class="container my-4 shadow-sm rounded bg-white p-4">
            <div class="row align-items-center">
                <div class="col-md-9 text-section mb-4 mb-md-0">
                    <h2 class="display-5 fw-bold text-dark mb-4">About Samol</h2>
                    <p class="lead text-secondary" style="line-height: 1.8;">
                        name:samol sikder.
                        DOB:13 jun 1996
                        <span class="fw-bold">Galachipa Paurashava, Patuakhali</span>. 
                        I enjoy building things and working with technologies.
                    </p>
                </div>

                
            </div>
        </div>

       
    </div>

    {% include 'FOOTER.HTML' %}
</body>
</html>